* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
/*    color: #636777; */
    color: #737778;
    margin-right: 5px;
}

#workspaces button.active {
 /* background-color: #000; */
    color: #000000; /* #4c4f69; */
    /* background: #eba0ac; */
}

#workspaces button.focused {
    color: #ffffff;
    border-radius: 10px;
}

#workspaces button.urgent {
 /* color: #11111b;
    background: #a6e3a1;
    border-radius: 10px; */
}

#workspaces button:hover {
    color: #ffffff;
    background: #737778;
    background-color: #737778;
 /* background: #11111b;
    color: #11111b;
    border-radius: 5px; */
}


#custom-arch,
#custom-diskd,
#custom-memory,
#custom-temperature,
#custom-weather,
#language,
#custom-pnl,
#custom-power_profile,
#custom-wallpaper,
#custom-ip,
#custom-darkman,
#language,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
/*    background: #1e1e2e;  */
    background: rgba(220, 224, 232, 0.85); /* rgba(76, 79, 105, 0.7); */
    opacity: 0.7;
    padding: 0px 10px;
    margin: 3px 0px;
    margin: 0px 0px;
    margin-top: 10px;
/*    border: 1px solid #181825;  */
    border: 1px solid rgba(24, 24, 37, 0.5);
}

#custom-arch {
    color: #4c4f69;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
}


#custom-diskd {
    color: #4c4f69;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#custom-memory {
    color: #fe640b;
    border-radius: 10px 0px 0px 10px;
}

#custom-temperature {
    color: #fe640b;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-temperature.critical {
    margin-right: 10px;
    color: #f00;
}

#custom-weather {
    color: #8839ef;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    margin-right: 10px;
}
 
#language {
    color: #1e66f5;
    border-radius: 10px 10px 10px 10px;
}

#custom-pnl {
    color: #40a02b;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: rgba(220, 224, 232, 0.75); /* rgba(76, 79, 105, 0.7); */
/*    background: #1e1e2e;  */
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-darkman {
    color: #8839ef;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}

#pulseaudio {
    color: #1e66f5;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: #8839ef;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

#bluetooth {
    color: #1e66f5;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#network {
    color: #fe640b;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#custom-ip {
    color: #fe640b;
    border-radius: 0px 10px 10px 0px;
}

#clock {
    color: #4c4f69;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}
